XSD/Conectores/SS_LoadCurve.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a="http://langdale.com.au/2005/Message#" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" targetNamespace="http://iec.ch/TC57/2007/profile#" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://langdale.com.au/2005/Message#" xmlns:m="http://iec.ch/TC57/2007/profile#">
<xs:annotation/>
<xs:complexType xmlns="" name="Analog" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Analog">
<xs:annotation>
<xs:documentation>Analog represents an analog Measurement.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:Measurement">
<xs:sequence>
<xs:element name="AnalogValues" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Analog.AnalogValues">
<xs:annotation>
<xs:documentation>The values connected to this measurement.</xs:documentation>
</xs:annotation>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType xmlns="" name="AnalogValue" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#AnalogValue">
<xs:annotation>
<xs:documentation>AnalogValue represents an analog MeasurementValue.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:MeasurementValue">
<xs:sequence>
<xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:float" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#AnalogValue.value">
<xs:annotation>
<xs:documentation>The value to supervise.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Analog" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#AnalogValue.Analog">
<xs:annotation>
<xs:documentation>Measurement to which this value is connected.</xs:documentation>
</xs:annotation>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType xmlns="" name="Asset" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Asset">
<xs:annotation>
<xs:documentation>Tangible resource of the utility, including power system equipment, various end devices, cabinets, buildings, etc. For electrical network equipment, the role of the asset is defined through PowerSystemResource and its subclasses, defined mainly in the Wires model (refer to IEC61970-301 and model package IEC61970::Wires). Asset description places emphasis on the physical characteristics of the equipment fulfilling that role.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:IdentifiedObject">
<xs:sequence>
<xs:element name="AssetContainer" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Asset.AssetContainer">
<xs:annotation>
<xs:documentation>Container of this asset.</xs:documentation>
</xs:annotation>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType xmlns="" name="AssetContainer" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#AssetContainer">
<xs:annotation>
<xs:documentation>Asset that is aggregation of other assets such as conductors, transformers, switchgear, land, fences, buildings, equipment, vehicles, etc.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:Asset">
<xs:sequence>
<xs:element name="Assets" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#AssetContainer.Assets">
<xs:annotation>
<xs:documentation>All assets within this container asset.</xs:documentation>
</xs:annotation>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType xmlns="" name="AssetPropertyCurve" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#AssetPropertyCurve">
<xs:annotation>
<xs:documentation>An Asset Property that is described through curves rather than as a data point. The relationship is to be defined between an independent variable (X-axis) and one or two dependent variables (Y1-axis and Y2-axis).</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:Curve">
<xs:sequence>
<xs:element name="Assets" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#AssetPropertyCurve.Assets">
<xs:annotation/>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType xmlns="" name="Curve" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Curve">
<xs:annotation>
<xs:documentation>A multi-purpose curve or functional relationship between an independent variable (X-axis) and dependent (Y-axis) variables.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:IdentifiedObject">
<xs:sequence>
<xs:element name="CurveDatas" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Curve.CurveDatas">
<xs:annotation>
<xs:documentation>The point data values that define this curve.</xs:documentation>
</xs:annotation>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType xmlns="" name="CurveData" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#CurveData">
<xs:annotation>
<xs:documentation>Multi-purpose data points for defining a curve.  The use of this generic class is discouraged if a more specific class  can be used to specify the x and y axis values along with their specific data types.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="xvalue" minOccurs="0" maxOccurs="1" type="xs:float" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#CurveData.xvalue">
<xs:annotation>
<xs:documentation>The data value of the X-axis variable,  depending on the X-axis units.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="y1value" minOccurs="0" maxOccurs="1" type="xs:float" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#CurveData.y1value">
<xs:annotation>
<xs:documentation>The data value of the  first Y-axis variable, depending on the Y-axis units.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="y2value" minOccurs="0" maxOccurs="1" type="xs:float" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#CurveData.y2value">
<xs:annotation>
<xs:documentation>The data value of the second Y-axis variable (if present), depending on the Y-axis units.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Curve" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#CurveData.Curve">
<xs:annotation>
<xs:documentation>The curve of  this curve data point.</xs:documentation>
</xs:annotation>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType xmlns="" name="Customer" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Customer">
<xs:annotation>
<xs:documentation>Organisation receiving services from service supplier.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:OrganisationRole">
<xs:sequence>
<xs:element name="kind" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Customer.kind">
<xs:annotation>
<xs:documentation>Kind of customer.</xs:documentation>
</xs:annotation>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
<xs:element name="EndDevices" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Customer.EndDevices">
<xs:annotation>
<xs:documentation>All end devices of this customer.</xs:documentation>
</xs:annotation>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType xmlns="" name="Discrete" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Discrete">
<xs:annotation>
<xs:documentation>Discrete represents a discrete Measurement, i.e. a Measurement representing discrete values, e.g. a Breaker position.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:Measurement">
<xs:sequence>
<xs:element name="DiscreteValues" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Discrete.DiscreteValues">
<xs:annotation>
<xs:documentation>The values connected to this measurement.</xs:documentation>
</xs:annotation>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType xmlns="" name="DiscreteValue" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#DiscreteValue">
<xs:annotation>
<xs:documentation>DiscreteValue represents a discrete MeasurementValue.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:MeasurementValue">
<xs:sequence>
<xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#DiscreteValue.value">
<xs:annotation>
<xs:documentation>The value to supervise.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Discrete" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#DiscreteValue.Discrete">
<xs:annotation>
<xs:documentation>Measurement to which this value is connected.</xs:documentation>
</xs:annotation>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType xmlns="" name="EndDevice" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#EndDevice">
<xs:annotation>
<xs:documentation>Asset container that performs one or more end device functions. One type of end device is a meter which can perform metering, load management, connect/disconnect, accounting functions, etc. Some end devices, such as ones monitoring and controlling air conditioners, refrigerators, pool pumps may be connected to a meter. All end devices may have communication capability defined by the associated communication function(s). An end device may be owned by a consumer, a service provider, utility or otherwise.</xs:documentation>
<xs:documentation>There may be a related end device function that identifies a sensor or control point within a metering application or communications systems (e.g., water, gas, electricity).</xs:documentation>
<xs:documentation>Some devices may use an optical port that conforms to the ANSI C12.18 standard for communications.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:AssetContainer">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType xmlns="" name="IOPoint" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IOPoint">
<xs:annotation>
<xs:documentation>The class describe a measurement or control value. The purpose is to enable having attributes and associations common for measurement and control.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:IdentifiedObject">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType xmlns="" name="IdentifiedObject" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject">
<xs:annotation>
<xs:documentation>This is a root class to provide common identification for all classes needing identification and naming attributes.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="aliasName" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.aliasName">
<xs:annotation>
<xs:documentation>The aliasName is free text human readable name of the object alternative to IdentifiedObject.name. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
<xs:documentation>The attribute aliasName is retained because of backwards compatibility between CIM relases. It is however recommended to replace aliasName with the Name class as aliasName is planned for retirement at a future time.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.description">
<xs:annotation>
<xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.name">
<xs:annotation>
<xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType xmlns="" name="Measurement" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Measurement">
<xs:annotation>
<xs:documentation>A Measurement represents any measured, calculated or non-measured non-calculated quantity. Any piece of equipment may contain Measurements, e.g. a substation may have temperature measurements and door open indications, a transformer may have oil temperature and tank pressure measurements, a bay may contain a number of power flow measurements and a Breaker may contain a switch status measurement.</xs:documentation>
<xs:documentation>The PSR - Measurement association is intended to capture this use of Measurement and is included in the naming hierarchy based on EquipmentContainer. The naming hierarchy typically has Measurements as leafs, e.g. Substation-VoltageLevel-Bay-Switch-Measurement.</xs:documentation>
<xs:documentation>Some Measurements represent quantities related to a particular sensor location in the network, e.g. a voltage transformer (PT) at a busbar or a current transformer (CT) at the bar between a breaker and an isolator. The sensing position is not captured in the PSR - Measurement association. Instead it is captured by the Measurement - Terminal association that is used to define the sensing location in the network topology. The location is defined by the connection of the Terminal to ConductingEquipment.</xs:documentation>
<xs:documentation>If both a Terminal and PSR are associated, and the PSR is of type ConductingEquipment, the associated Terminal should belong to that ConductingEquipment instance.</xs:documentation>
<xs:documentation>When the sensor location is needed both Measurement-PSR and Measurement-Terminal are used. The Measurement-Terminal association is never used alone.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:IdentifiedObject">
<xs:sequence>
<xs:element name="Asset" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Measurement.Asset">
<xs:annotation/>
<xs:complexType sawsdl:modelReference="">
<xs:attribute name="ref" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType xmlns="" name="MeasurementValue" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#MeasurementValue">
<xs:annotation>
<xs:documentation>The current state for a measurement. A state value is an instance of a measurement from a specific source. Measurements can be associated with many state values, each representing a different source for the measurement.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:IOPoint">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType xmlns="" name="OrganisationRole" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#OrganisationRole">
<xs:annotation>
<xs:documentation>Identifies a way in which an organisation may participate in the utility enterprise (e.g., customer, manufacturer, etc).</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:IdentifiedObject">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:element name="NetworkOperation" type="m:NetworkOperation">
	</xs:element>
	<xs:complexType name="NetworkOperation">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Analog" type="m:Analog" />
			<xs:element name="AnalogValue" type="m:AnalogValue" />
			<xs:element name="Asset" type="m:Asset" />
			<xs:element name="AssetContainer" type="m:AssetContainer" />
			<xs:element name="AssetPropertyCurve" type="m:AssetPropertyCurve" />
			<xs:element name="Curve" type="m:Curve" />
			<xs:element name="CurveData" type="m:CurveData" />
			<xs:element name="Customer" type="m:Customer" />
			<xs:element name="Discrete" type="m:Discrete" />
			<xs:element name="DiscreteValue" type="m:DiscreteValue" />
			<xs:element name="EndDevice" type="m:EndDevice" />
			<xs:element name="IOPoint" type="m:IOPoint" />
			<xs:element name="IdentifiedObject" type="m:IdentifiedObject" />
			<xs:element name="Measurement" type="m:Measurement" />
			<xs:element name="MeasurementValue" type="m:MeasurementValue" />
			<xs:element name="OrganisationRole" type="m:OrganisationRole" />
		</xs:choice>
	</xs:complexType>

</xs:schema>
